.user-list {
  @media screen and (min-width: 1441px) {
    width: 1000px;
  }
  &-slider {
    transition-duration: 500ms;
    transform: translateY(-100%);
  }
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px;
  margin: 0;
  background-color: #afafaf;
  // border-bottom-left-radius: 15px;
  // border-bottom-right-radius: 15px;
  position: relative;
}

.background-h2 {
  &-checked {
    background-color: #e7e7e7;
    color: black;
  }
  :hover {
    color: black;
  }
  color: #777;
  display: block;
  overflow: hidden;
  margin: 0px 0 0 0;
  padding: 5px 0px;
  background-color: #f8f8f8;
  width: 100%;
  position: relative;
  z-index: 100;

  @media screen and (max-width: 500px) {
    width: 100vw;
  }
  h2 {
    @media screen and (min-width: 1441px) {
      width: 1000px;
    }
    padding: 0 15px;
    font-size: 1.7rem;
    margin: 0;
  }
  i {
    margin-right: 5px;
  }
}

#otherWeek {
  &:checked ~ .user-list {
    transform: translateY(0);
    transition-duration: 750ms;
  }
  &:checked ~ .background-h2 {
    background-color: #e7e7e7;
    color: black;
  }
  &:checked + .background-h2 {
    h2 {
      .fa-plus-square:before {
        content: '\f146';
      }
    }
  }
  // &:checked label[data-info="otherWeek"] {
  //   height: 100%;
  // }
}

label {
  font-weight: normal;
  width: 100%;
  overflow: hidden;
  .test {
    height: 50%;
  }
}

input {
  display: none;
}
