<label for="thisWeek">
  <input type="checkbox" id="thisWeek" (click)="showList()" />
  <div class="background-h1">
    <h1><i class="fas fa-filter"></i> Declaration de la semaine {{ dateToday | date: 'W' }}</h1>
  </div>

  <ul class="user-list" *ngIf="win" >
    <app-one-user></app-one-user>
    <app-one-user></app-one-user>
    <app-one-user></app-one-user>
    <app-one-user></app-one-user>
    <app-one-user></app-one-user>
    <app-one-user></app-one-user>
    <app-one-user></app-one-user>
    <app-one-user></app-one-user>
    <app-one-user></app-one-user>
  </ul>
</label>
