<nav class="navbar-default">
  <div class="container-fluid navbar-media">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/">Acceuil</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="declaration">Declaration</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="admin">Admin</a>
      </li>
    </ul>
    <div class="container-fluid navbar-right">
      Aujourd'hui <b>{{ dateToday | date: 'EEEE, MMMM d, y' }}</b>
      <br />
      Numero de la semaine:
      <b>{{ dateToday | date: 'W' }}</b>
    </div>
  </div>
</nav>
<div class="container content">
  <div class="alignement container">
    <router-outlet></router-outlet>
  </div>
</div>
