<div class="form-group margin-top-10px">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChangePasswordGroup()">
    <label for="password">
      Password:
      <input type="password" class="form-control" id="passwordOne" formControlName="passwordOne" />
    </label>

    <br />

    <label for="password">
      Repetez password:
      <input type="password" class="form-control" id="passwordTwo" formControlName="passwordTwo" />
    </label>

    <br />

    <button
      class="btn btn-primary col-xs-12"
      type="submit"
      [disabled]="
        changePasswordForm.value.passwordOne != changePasswordForm.value.passwordTwo ||
        changePasswordForm.value.passwordOne == '' ||
        changePasswordForm.value.passwordTwo == ''
      "
    >
      Changer mot de passe
    </button>
  </form>
</div>
