<form [formGroup]="soldForm" (ngSubmit)="onSubmitSolde()">
  <li
    [ngClass]="{
      'list-group-item': true,
      'margin-top-10px': true
    }"
    *ngFor="let datePay of MonthPay; let idx = index"
  >
    <h4>Solde de mois {{ datePay | date: "MMMM, YYYY" }}</h4>

    <div formArrayName="sb">
      Solde de base:
      <input class="form-control" type="number" [formControlName]="idx" />
    </div>

    <div formArrayName="sf">
      Solde familial:
      <input
        class="form-control"
        type="number"
        [formControlName]="idx"
        [value]="0"
      />
    </div>

    <div formArrayName="ir">
      Idemnité residance:
      <input
        class="form-control"
        type="number"
        [formControlName]="idx"
        (value)="(0)"
      />
    </div>
  </li>

  <br />

  <div class="form-check declarationTitle">
    <label class="form-check-label" for="flexCheckDefault">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckDefault"
        formControlName="cb"
      />
      Je déclare sur l'honneur que l'information est vraie et correspond a mes
      bulletins de solde.
    </label>
  </div>

  <button
    class="btn btn-primary col-xs-12"
    type="submit"
    [disabled]="soldForm.invalid"
  >
    Ok
  </button>
</form>
