<form [formGroup]="soldForm" (ngSubmit)="onSubmitSolde()">
  <li
    [ngClass]="{
      'list-group-item': true,
      'margin-top-10px': true
    }"
    *ngFor="let datePay of user.MonthPay; let idx = index"
  >
    <h4>Solde de mois {{ datePay | date: "MMMM, YYYY" }}</h4>

    <div formArrayName="sb">
      Solde de base:
      <input class="form-control" type="number" [formControlName]="idx" />
    </div>

    <div formArrayName="sf">
      Solde familial:
      <input class="form-control" type="number" [formControlName]="idx" />
    </div>

    <div formArrayName="ir">
      Idemnité residance:
      <input class="form-control" type="number" [formControlName]="idx" />
    </div>
  </li>

  <button class="btn btn-primary" type="submit" [disabled]="soldForm.invalid">
    Ok
  </button>
</form>
