<ul class="list-group">
  <li class="list-group-item">
    <span>Nom: {{ user?.nom }} </span>

    <br />

    <button class="btn btn-danger btn-size" (click)="onDelete()">
      <!-- <i class="fas fa-times-circle"></i> -->
      Supprimé
    </button>

    <app-modal-delete-user *ngIf="isVisibleModalDelete"></app-modal-delete-user>
  </li>

  <li class="list-group-item margin-top-10px" *ngFor="let solde of user?.MonthSolde; let idx = index">
    <span>Mois: {{ monthPay[idx] | date: 'MMMM, y' }}</span>
    <br />
    <span>Total: {{ solde }} €</span>
  </li>
</ul>
