.list-group-item {
  padding: 5px 10px;
}

.border-space {
  margin: 5px;
  justify-content: space-between;
}

.one-user {
  &:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
}

.btn-size {
  width: 100%;
  height: 100%;
  padding: 0;
}

.user {
  &-name {
    display: block;
    padding: 10px 0;
  }
}
